.treeElementStr{
    width: 90%;
    border: 0px solid rgba(0, 0, 0, .125);
    border-bottom: 1px solid rgba(0, 0, 0, .125);
    border-top: 0px solid rgba(0, 0, 0, .125);
    border-right: 0;
}
.btn{
    text-align: left;
    justify-content: left;
}


.collapsing {
    -webkit-transition: height .1s ease;
    -o-transition: height .1s ease;
    transition: height .1s ease;
}
.treeLiEl{
    display: block;
    border-left: 1px solid rgba(0, 0, 0, .125);
    margin-left: 2em;
}
.treeNavMenucontainer{
    display: inline-block;
    width: 100%;
    margin: 1em 0;
    padding: 0 0 2em 0;
    text-align: end;
  }


.treeContainer{
    width: 100%;
    display: inline-block;  
  }
  
  .btn-select-class{
    margin: 0 1em;

  }