<div class="jumbotron">
    <mat-tab-group animationDuration="0ms" style="z-index: 1;">
      <mat-tab label="Добавить класс"><app-add-class></app-add-class></mat-tab>

      <mat-tab label="TODO"> 
        Разобраться с футером и хедером, менять min-width динамически
        <br/>
        Дизайн профиля
        <br/>
        че делать если пользователь забыл пароль
        <br/>
        Заглушка 404 для сетки если сервак мертв
        <br/>
        Управление пользователями? 
        <br/>
        Поддержка разных браузеров
        <br/> 
        сломался поиск по дереву классов
        <br/>
        логин постоянно отображается в шапке?
        <br/>
        возможно? добавить конвертацию в urn через сайт

      </mat-tab>

      <mat-tab label="Профиль">
        <app-profile-main></app-profile-main>
      </mat-tab>

      <mat-tab label="Избранное"> 
        <app-favourites></app-favourites>
      </mat-tab>
      <mat-tab label="Пользователи"> Content 4 </mat-tab>
    </mat-tab-group>
</div>