<div class="jumbotron">
    <mat-tab-group animationDuration="0ms" style="z-index: 1;">
      <mat-tab label="Избранное"> 
        <app-favourites></app-favourites>
      </mat-tab>
      <mat-tab label="Добавить класс" *ngIf="level===1"><app-add-class></app-add-class></mat-tab>

      <!-- <mat-tab label="TODO"> 
        <br/>
        Дизайн профиля
        <br/>
        че делать если пользователь забыл пароль
        <br/>
        Управление пользователями? 
        <br/>
        Поддержка разных браузеров??
        <br/>
        возможно? добавить конвертацию в urn через сайт
        <br/>
        удаление деталей из бд
      </mat-tab> -->

      <mat-tab label="Профиль">
        <app-profile-main></app-profile-main>
      </mat-tab>

      
      <!-- <mat-tab label="Пользователи"> Content 4 </mat-tab> -->
    </mat-tab-group>
</div>