<div class="jumbotron">
    <mat-tab-group animationDuration="0ms">
      <mat-tab label="Добавить класс"><app-add-class></app-add-class></mat-tab>

      <mat-tab label="TODO"> 
        Разобраться с футером и хедером, менять min-width динамически
        <br/>
        Дизайн профиля
        <br/>
        Кнопка профиль и логин должна быть справа
        <br/>
        че делать если пользователь забыл пароль
        <br/>

        Сохранение избранных классов
        <br/>

        Заглушка 404 для сетки если сервак мертв
        <br/>

        Разобраться, как будем загружать детали через сайт
        
        <br/>
        Управление пользователями? 
        <br/>
        Поддержка разных браузеров
        <br/> 
        сломался поиск по дереву классов

      </mat-tab>

      <mat-tab label="Профиль">
        <app-profile-main></app-profile-main>
      </mat-tab>

      <mat-tab label="Избранное"> 
        <app-favourites></app-favourites>
      </mat-tab>
      <mat-tab label="Пользователи"> Content 4 </mat-tab>
    </mat-tab-group>
</div>