<br>
<div class="main-gallery-view container" id="main-gallery-view">
    <app-eskdclass-element *ngFor="let elData of itemsToShow" 
    [eskdclass]="elData" 
    (emitClassNum)="ChangeClassNum($event)" 
    (displayClassView)="displayClassView($event)">
    </app-eskdclass-element>
</div>
<div class="classview" [style.display]="classviewdisplay">
    <app-classview *ngIf="classviewdisplay == 'block'"
    [star]="icon"
    [emitClassNum]="emitClassNum"
    (closeShadowbox)="closeShadowbox()">
    </app-classview>
</div>
<div id="shadow" (click)="closeShadowbox()" 
[style.display]="shadowDisplay"></div>