<div id="mainAppGrid">


<div id="mainESKDDiv">
    <div class="container-md">
        <div class="firstrow">
            <div class=" firstrow-item"></div>
            <div class="tree firstrow-item">
                <a class="btn btn-secondary" role="button" (click)="ShowTree()">
                    Просмотр дерева
                </a>
            </div>
            <div class="filter firstrow-item">
                <input 
                type="search" 
                class="form-control" 
                [(ngModel)]="searchCat"
                placeholder="Поиск класса"
                (keyup)="onSearchChange($event)"
                (input)="onSearchInput($event)"
                id="filterInput"
                >
            </div>
        </div>
    </div>
    
    <div class="container-md">
        <div class="treefilter">
            <a class="btn btn-secondary" data-toggle="collapse" 
            href="#collapseTree" role="button" aria-expanded="false" aria-controls="collapseTree">
            Подбор по дереву классов
        </a>
        <div class="collapse" id="collapseTree">
            <div class="card">
                <ng-container *ngIf="searchCat.length > 1">
                    <ng-container *ngFor="let treeEl of treeclass">
                        <ng-container *ngFor="let tempstr of substrArray">
                            <ng-container *ngIf="tempstr==treeEl.classNum">
                                <a (click)="treeElClick(treeEl.classNum)" 
                                style="font-weight: bolder;"
                                class="btn elementStr" data-toggle="collapse" 
                                href="#" role="button" aria-expanded="false" 
                                aria-controls="collapseTree">
                                
                                {{treeEl.caption}}
                                
                            </a>
                        </ng-container>
                    </ng-container>
                </ng-container>
            </ng-container>
            <ng-container *ngFor="let treeEl of treeclass">
                <a *ngIf="treeEl.parent == currentParent" (click)="treeElClick(treeEl.classNum)" 
                class="btn elementStr" data-toggle="collapse" 
                href="#" role="button" aria-expanded="false" 
                aria-controls="collapseTree">
                
                {{treeEl.caption}}
                
                
            </a>
        </ng-container>
    </div>
</div>
</div>

<!--

    main-gallery-view

-->
    <div class="main-gallery-view container" id="main-gallery-view">
        
        <app-eskdclass-element *ngFor="let elData of currentItemsToShow" 
        [eskdclass]="elData" (emitClassNum)="ChangeClassNum($event)" 
        (displayClassView)="displayClassView($event)">
    </app-eskdclass-element>
    </div>

    <mat-paginator #paginator
(page)="onPageChange($event)"
[length]="arraylength"
              [pageSize]="12"
              [pageSizeOptions]="[6, 12, 24, 100]">
</mat-paginator>


</div>



<div id="shadow" (click)="HideShadowBox()" 
[style.display]="shadowDisplay"></div>

<div class="classview" [style.display]="classviewdisplay">
    <ng-container *ngFor="let item of elArray">
        <ng-container *ngIf="item.num == emitClassNum">
            <div class="classViewGrid">


                <div class="viewer-btn-close">
                    <button type="button" class="my-btn-close" 
                    aria-label="Close"(click)="HideShadowBox()"></button>
                </div>

                <div id="mainForgeViewerDiv" [style.display]="forgeViewerDisplay">
                    <adsk-forge-viewer [viewerOptions]="viewerOptions" 
                    (onSelectionChanged)="selectionChanged($event)"></adsk-forge-viewer>
                </div>
                <div class="imgcontainer"  [style.display]="drawingDisplay">
                    <img src={{item.pictureLink}}>
                </div>
                <div class="textcontainer">
                    
                    <div class="number">
                        <h3>Код: {{item.num}}
                             <mat-icon class="icon-star" (click)="favIconClick(item.num)">{{icon}}</mat-icon>
                            </h3>
                    </div>
                    <div class="discription">
                        Описание:
                        <ng-container *ngFor="let item of classDiscription">
                            <p>{{item}}</p>
                        </ng-container>
                    </div>
                    <div class="buttonContainer">
                        <button class="btn btn-dark" (click)='showDrawing()'>Чертёж</button>
                        
                            <button class="btn btn-dark" id="btn-download" (click)='donwloadModel()'>Скачать</button>
                       
                        
                    </div>
                </div>
            </div>
        </ng-container>
    </ng-container>
</div>

<div id="treeview" class="" [style.display]="treeDisplay">
    <div>
        <button type="button" class="my-btn-close" 
        aria-label="Close"(click)="CloseTree()"></button>
        <div class="treeContainer" id="">
            <app-treeview></app-treeview>
        </div>
        <div class="treeNavMenucontainer">
            <button type="button" class="btn btn-dark btn-select-class" 
            aria-label="Search"(click)="ApplyTreeFilter()">Выбрать класс</button>
        </div>
    </div>
</div>
</div>

</div>